{% extends 'base.html' %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
     {% block title %}
     {% load static %}
     <link rel="stylesheet" href="{% static 'css/form.css' %}">
    {% endblock %}
</head>
<body>
{% block content %}
    <br>
    <br>
    <div id="form">
        <h3 id="header">ADD ORDER</h3>
        {% if messages %}
          <ul class="messages">
              {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
              {% endfor %}
          </ul>
        {% endif %}
        <form method="post">
        {{ formset.management_form }}
            {% csrf_token %}
            <h5>NAME: {{ obj.name }}</h5>

            <h5>NUMBER OF PRODUCTS ORDERED: {{ obj.num_of_product }}</h5>
            <h4>Products</h4>
        {% for forms in formset %}
            {{ forms.as_p }}
        {% endfor %}
        <div id="button">
            <button type="submit" >Submit</button>
        </div>
        </form>
    </div>
    <br>
{% endblock %}
</body>
</html>