{% extends 'base.html' %}

{% block title %}<title>List category</title>{% endblock %}
{% load static %}
<link rel="stylesheet" class="img" href="{% static 'css/listproduct.css' %}" >

{% block content %}

{#<div class="sidebar">#}
{#    <a class="active" href="#home">Dashboard</a>#}
{#    <a href="#news">Add</a>#}
{#    <a href="#contact">Products</a>#}
{#    <a href="#about">incoming good</a>#}
{#  </div>#}

<div>
{% if products  %}
{% for product in products %}
    <hr>
    <p>{{ product.name}}</p>
    <p>{{ product.price}}</p>
    <p>{{ product.quantity}}</p>
{#    <a href="{% url 'add category' %}"> add category</a>#}
    <hr>
{% endfor %}
{% endif %}
</div>


{% endblock content %}