{% extends 'base.html' %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% load static %}
    {% block title %}
        <link rel="stylesheet" href="{% static 'css/list.css' %}">
    {% endblock %}
</head>
<body>
    {% block content %}
    <div class="main-cointainer">
    <div style="padding-top: 30px;">
    <h1 class="text">Products in {{ products.name }}</h1>
    <table class="table table-bordered">
  <thead class="table-dark">
    <tr>
      <th scope="col">Items</th>
      <th scope="col">Price</th>
      <th scope="col">Quatity</th>
    </tr>
  </thead>
  <tbody>

    <tb>
      {% for product in products.category.all %}
          <tr>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
              <td>{{ product.quantity }} <a href="{% url 'delete' product.pk %}" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
  <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
</svg></a></td>
          </tr>
          </div>
          </div>
      {% endfor %}
    </tb>


{% endblock %}

</body>
</html>
