{% extends 'base.html' %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% load static %}
    {% block title %}
        <link rel="stylesheet" href="{% static 'css/list.css' %}">
    {% endblock %}
</head>
<body>
    {% block content %}


<div style="padding-top: 40px">
{% for Category in Category %}
    <div class="list">
    <p>{{ Category.name}}</p>
    <a href="{% url 'list' Category.pk %}"><button type="button" class="btn btn-outline-secondary">View product</button></a>
</div>

{% endfor %}
</div>


{% endblock content %}
</body>
</html>
